body {
    margin: 0;
}

.blizzard-form {
    display: flex;
    max-width: 350px;
    flex-wrap: wrap;
    margin: auto;
}

.blizzard-form__group {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
}

.blizzard-form__name {
    min-width: 0;
    flex-basis: 50%;
}

.blizzard-form__birth-date {
    min-width: 0;
    flex-basis: 33.3%;
}

webview {
    width: 100vw;
    height: 100vh;
}